<div class="welcome">
  <div class="wrapper">
    <div class="welcome-body ">
      <div class="left-side ">

        <h1 class="owner-name uprise-step-one">azat farmanyan</h1>
        <p class="owner-profession uprise-step-two">Software Engineer</p>
        <div class="social-block  uprise-step-three">
          <div class="social-items">
            <a href="https://www.linkedin.com/in/azat-farmanyan/" target="_blank">
              <img class="social-item" [src]="linkedinImageSrc" alt="linkedin" (mouseenter)="onMouseEnter('linkedin')"
                (mouseleave)="onMouseLeave('linkedin')" loading="lazy">
            </a>
            <a href="https://github.com/Azat-Farmanyan" target="_blank">
              <img class="social-item" [src]="githubImageSrc" alt="github" (mouseenter)="onMouseEnter('github')"
                (mouseleave)="onMouseLeave('github')" loading="lazy">
            </a>
            <a href="https://t.me/AzatFarmanyan" target="_blank">
              <img class="social-item" [src]="telegramImageSrc" alt="telegram" (mouseenter)="onMouseEnter('telegram')"
                (mouseleave)="onMouseLeave('telegram')" loading="lazy">
            </a>
            <a href="https://discordapp.com/users/908978735020146719/" target="_blank">
              <img class="social-item" [src]="discordImageSrc" alt="discord" (mouseenter)="onMouseEnter('discord')"
                (mouseleave)="onMouseLeave('discord')" loading="lazy">
            </a>
            <a href="https://www.instagram.com/azat_09.5/" target="_blank">
              <img class="social-item" [src]="instagramImageSrc" alt="instagram"
                (mouseenter)="onMouseEnter('instagram')" (mouseleave)="onMouseLeave('instagram')" loading="lazy">
            </a>
            <a href="https://www.facebook.com/profile.php?id=100007929288834" target="_blank">
              <img class="social-item" [src]="facebookImageSrc" alt="facebook" (mouseenter)="onMouseEnter('facebook')"
                (mouseleave)="onMouseLeave('facebook')" loading="lazy">
            </a>
          </div>
        </div>
        <div class="btns uprise-step-four">
          <button class="btn-orange-v2" (click)="navigateTo('home', 'about')"> About me </button>
          <button style="color: #EE6C4D !important;" (click)="downloadCV()">
            <a class="btn-white-v2" href="https://hh.ru/resume/9021fbdaff0bd45c5a0039ed1f7a6177477751"
              target="_blank">Open
              Resume</a></button>
        </div>
        <a href="../../../assets/cv/Angular Developer - Azat Farmanyan - ENG.pdf"></a>
      </div>
      <div class="right-side">

        <img [ngClass]="{'opacity-none': !avatarIsLoaded, 'opacity-full': avatarIsLoaded}"
          class="avatar uprise-step-one" (load)="imageLoaded($event)" src="../../../assets/images/a-f-avatar 3.svg">

        <img [ngClass]="{'opacity-none': avatarIsLoaded, 'opacity-full': !avatarIsLoaded}"
          class="avatar uprise-step-one avatar-small" src="../../../assets/images/a-f-avatar 3 small.png">

        <img class="ellipse-1 uprise-step-two" src="../../../assets/images/Ellipse 10.svg">
        <img class="ellipse-2 uprise-step-two" src="../../../assets/images/Ellipse 11.svg">
        <img class="ellipse-3 uprise-step-two" src="../../../assets/images/Ellipse 9.svg">

      </div>

      <div class="scroll-icon">
        <svg width="40px" height="100%" viewBox="0 0 247 390" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
          <path id="wheel" d="M123.359,79.775l0,72.843" style="fill:none;stroke:#ff4141;stroke-width:20px;" />
          <path id="mouse"
            d="M236.717,123.359c0,-62.565 -50.794,-113.359 -113.358,-113.359c-62.565,0 -113.359,50.794 -113.359,113.359l0,143.237c0,62.565 50.794,113.359 113.359,113.359c62.564,0 113.358,-50.794 113.358,-113.359l0,-143.237Z"
            style="fill:none;stroke:#ff4141;stroke-width:20px;" />
        </svg>
      </div>

    </div>
  </div>
</div>