<div (click)="closeMenu()" [@fadeInOut] *ngIf="showMenu" class="black-bg"></div>
<header class="header">
  <div class="wrapper">
    <div class="header-body">
      <div (click)="navigateTo('home', 'home')" class="left-side">
        <img
          src="../../../assets/logos/azat-favicon.png"
          style="width: 40px; height: 40px"
          alt=""
        />
        <a>
          <h4 class="text-bold header-title">azat farmanyan</h4>
        </a>
      </div>
      <div class="right-side">
        <nav class="nav">
          <div class="nav-item" (click)="navigateTo('home', 'home')">
            <a
              class="text-bold"
              [ngClass]="{ active: activeSection === 'home' }"
              >Home</a
            >
          </div>
          <div class="nav-item" (click)="navigateTo('home', 'about')">
            <a
              class="text-bold"
              [ngClass]="{ active: activeSection === 'about' }"
              >About</a
            >
          </div>
          <div class="nav-item" (click)="navigateTo('home', 'projects')">
            <a
              class="text-bold"
              [ngClass]="{ active: activeSection === 'projects' }"
              >Projects</a
            >
          </div>
          <div class="nav-item" (click)="navigateTo('home', 'contact')">
            <a
              class="text-bold"
              [ngClass]="{ active: activeSection === 'contact' }"
              >Contact</a
            >
          </div>
        </nav>
        <div (click)="menuToggle()" class="burger">
          <img
            [@toggleAnimation]
            *ngIf="!showMenu"
            src="../../../assets/icons/burger.svg"
            alt="Open Menu"
          />
          <img
            [@toggleAnimation]
            *ngIf="showMenu"
            src="../../../assets/icons/close-cross.svg"
            alt="Close Menu"
          />
        </div>
      </div>
    </div>
  </div>
  <div [@dropDownMenu] *ngIf="showMenu" class="menu">
    <div class="menu-body">
      <a
        (click)="navigateTo('home', 'home')"
        class="menu-item text-bold"
        [ngClass]="{ 'active-mobile': activeSection === 'home' }"
        href="home#home"
      >
        <span class="wrapper">Home</span>
      </a>
      <a
        (click)="navigateTo('home', 'about')"
        class="menu-item text-bold"
        href="home#about"
        [ngClass]="{ 'active-mobile': activeSection === 'about' }"
      >
        <span class="wrapper">About</span>
      </a>
      <a
        (click)="navigateTo('home', 'projects')"
        class="menu-item text-bold"
        href="home#projects"
        [ngClass]="{ 'active-mobile': activeSection === 'projects' }"
      >
        <span class="wrapper">Projects</span>
      </a>
      <a
        (click)="navigateTo('home', 'contact')"
        class="menu-item text-bold"
        href="home#contact"
        [ngClass]="{ 'active-mobile': activeSection === 'contact' }"
      >
        <span class="wrapper">Contact</span>
      </a>

      <ul class="links wrapper menu-item">
        <li class="link-item">
          <a target="_blank" href="https://www.linkedin.com/in/azat-farmanyan/">
            <img src="../../assets/icons/bi_linkedin.svg" alt="linkedin" />
          </a>
        </li>
        <li class="link-item">
          <a target="_blank" href="https://github.com/Azat-Farmanyan">
            <img src="../../assets/icons/mdi_github.svg" alt="GitHub" />
          </a>
        </li>
        <li class="link-item">
          <a target="_blank" href="https://www.instagram.com/azat_09.5/">
            <img
              src="../../assets/icons/ri_instagram-fill.svg"
              alt="Instagram"
            />
          </a>
        </li>
        <li class="link-item">
          <a target="_blank" href="https://t.me/AzatFarmanyan">
            <img
              src="../../assets/icons/ic_baseline-telegram.svg"
              alt="Telegram"
            />
          </a>
        </li>
        <li class="link-item">
          <a
            target="_blank"
            href="https://discordapp.com/users/908978735020146719/"
          >
            <img
              src="../../assets/icons/ic_baseline-discord.svg"
              alt="Discord"
            />
          </a>
        </li>
        <li class="link-item">
          <a
            target="_blank"
            href="https://www.facebook.com/profile.php?id=100007929288834"
          >
            <img src="../../assets/icons/uiw_facebook.svg" alt="Facebook" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
