<div (click)='closeMenu()' [@fadeInOut] *ngIf="showMenu" class="black-bg"></div>
<header class="header">
  <div class="wrapper">
    <div class="header-body">
      <div class="left-side">
        <a (click)="navigateTo('home','home')">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <circle cx="20" cy="20" r="20" fill="#EE6C4D" />
          </svg>
          <h4 class="text-bold">azat farmanyan</h4>
        </a>
      </div>
      <div class="right-side">
        <nav class="nav">
          <div class="nav-item" (click)="navigateTo('home','home')">
            <a class='text-bold'>Home</a>
          </div>
          <div class="nav-item" (click)="navigateTo('home','about')">
            <a class='text-bold'>About</a>
          </div>
          <div class="nav-item" (click)="navigateTo('home','projects')">
            <a class='text-bold'>Projects</a>
          </div>
          <div class="nav-item" (click)="navigateTo('home','contact')">
            <a class='text-bold'>Contact</a>
          </div>
        </nav>
        <div (click)="menuToggle()" class="burger">
          <img [@toggleAnimation] *ngIf="!showMenu" src="../../../assets/icons/burger.svg" alt="Open Menu" />
          <img [@toggleAnimation] *ngIf="showMenu" src="../../../assets/icons/close-cross.svg" alt="Close Menu" />
        </div>
      </div>
    </div>
  </div>
  <div [@dropDownMenu] *ngIf="showMenu" class="menu">
    <div class="menu-body">
      <a (click)="navigateTo('home','home')" class="menu-item text-bold" href="home#home">
        <span class="wrapper">Home</span>
      </a>
      <a (click)="navigateTo('home','about')" class="menu-item text-bold" href="home#about">
        <span class="wrapper">About</span>
      </a>
      <a (click)="navigateTo('home','projects')" class="menu-item text-bold" href="home#projects">
        <span class="wrapper">Projects</span>
      </a>
      <a (click)="navigateTo('home','contact')" class="menu-item text-bold" href="home#contact">
        <span class="wrapper">Contact</span>
      </a>
    </div>
  </div>
</header>