.box-shadow {
  box-shadow: 0px 4px 33px 0px rgba(0, 0, 0, 0.09);
}
.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 80px;
  background: #fff;
  box-shadow: 0px 4px 33px 0px rgba(0, 0, 0, 0.09);

  .header-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    .left-side {
      display: flex;
      align-items: center;
      gap: 15px;
      .header-title {
        @media only screen and (max-width: 400px) {
          display: none;
        }
      }
      & a {
        text-decoration: none;
        @media only screen and (max-width: 900px) {
          gap: 10px;
        }
      }
    }
    .right-side {
      .nav {
        display: flex;
        gap: 50px;
        @media only screen and (max-width: 600px) {
          display: none;
        }
        @media only screen and (max-width: 900px) {
          gap: 30px;
        }
        @media only screen and (max-width: 900px) {
          gap: 15px;
        }
        // .nav-item {
        // }
      }
      .burger {
        display: none;
        cursor: pointer;
        @media only screen and (max-width: 600px) {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .menu {
    position: absolute;
    z-index: 999;
    top: 80px;
    width: 100vw;
    .menu-body {
      display: flex;
      flex-direction: column;
      width: 100%;
      &:last-child {
        box-shadow: 0px 4px 33px 0px rgba(0, 0, 0, 0.1);
        // background: red;
        // border-bottom: 1px solid #e2e2e2;
      }
      .menu-item {
        display: flex;
        align-items: center;
        justify-content: right;
        height: 80px;
        border-top: 1px solid #e2e2e2;
        background: #fff;
        transition: all 0.3s ease;
        // width: 100%;
        & a {
          text-decoration: none !important;
        }
        &:active,
        &:hover {
          background-color: #ee6c4d;
          color: #fff;
        }
      }
    }
  }
}
