.project-card {
  &:hover {
    .project-img {
      transform: scale(1.1);
    }

    *button {
      transform: translateY(-3px);
    }
  }

  .project-card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 300px;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 5px;
    background: #fafafa;
    overflow: hidden;
    transition: all 0.3s ease-in;
    box-shadow: 0px 4px 33px 0px rgba(0, 0, 0, 0.02);
    outline: 1px solid rgba(0, 0, 0, 0.06);

    &:hover {
      box-shadow: 0px 4px 33px 0px rgba(0, 0, 0, 0.1);
    }

    @media only screen and (max-width: 900px) {
      flex-direction: row;
      flex-wrap: wrap-reverse;
      // gap: 50px;
    }

    .proj-card-text-block {
      flex: 0 47%;
      /*lower the % to get more columns*/
      flex-grow: 1;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;

      padding: 50px 30px;

      @media only screen and (max-width: 900px) {
        flex: 0 100%;
        /* Make each box take up the full width */
      }

      @media only screen and (max-width: 600px) {
        padding: 40px 20px;
        gap: 20px;
      }

      @media only screen and (max-width: 320px) {
        padding: 30px 10px;
      }

      .proj-title {
        color: #293241;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 135%;
        /* 32.4px */
        letter-spacing: 1.2px;
        margin-bottom: 10px;
      }

      .proj-description {
        font-family: Roboto;
        font-size: 16px;
        color: #293241;
        font-style: normal;
        font-weight: 300;
        line-height: 160%;
        /* 21.6px */
        letter-spacing: 0.8px;
      }
    }

    .project-galeria {
      flex: 0 47%;
      /*lower the % to get more columns*/
      flex-grow: 1;

      display: flex;
      align-items: center;
      overflow: hidden;
      object-fit: cover;

      .project-img {
        // border-radius: 0 5px 5px 0;
        width: 100%;
        min-height: 100%;
        max-height: 300px;
        object-fit: cover;
        object-position: top;
        transform-origin: 50% 50%;
        transition: transform 0.4s ease;

        cursor: pointer;
      }
    }
  }
}