<div class="sections-nav-block">
  <div class="section" (click)="navigateTo('home', 'home')" [ngClass]="{ active: activeSectionId === 0 }"></div>
  <div class="section" (click)="navigateTo('home', 'about')" [ngClass]="{ active: activeSectionId === 1 }"></div>
  <div class="section" (click)="navigateTo('home', 'experience')" [ngClass]="{ active: activeSectionId === 2 }"></div>
  <div class="section" (click)="navigateTo('home', 'projects')" [ngClass]="{ active: activeSectionId === 3 }"></div>
  <div class="section" (click)="navigateTo('home', 'contact')" [ngClass]="{ active: activeSectionId === 4 }"></div>
</div>