<div class="carousel">
  <div class="carousel-body">
    <div (click)="clickLeft()" class="left-click unselectable">
      <img src="../../../assets/icons/left-arrow.svg" alt="left">
    </div>
    <div class="images-block">
      <img [src]="defaultImg" alt="" class="carousel-image">
    </div>
    <div (click)="clickRight()" class="right-click unselectable">
      <img src="../../../assets/icons/right-arrow.svg" alt="left">
    </div>
  </div>
</div>
<!-- <div class="carousel-nav">
  <div class="carousel-dot">0</div>
  <div class="carousel-dot">0</div>
  <div class="carousel-dot avtive-dot">*</div>
  <div class="carousel-dot">0</div>
  <div class="carousel-dot">0</div>
</div> -->