<div class="step-content">
  <h3 class="section-title" style="text-align: left">
    Step 3: We're Here to Help
  </h3>
  <p class="text">
    If you have any questions or need assistance, please don't hesitate to
    <span
      style="
        font-weight: 700;
        color: #293241;
        cursor: pointer;
        text-transform: uppercase;
      "
      >contact our support team</span
    >. We're here to assist you. Thank you for your interest in our project, and
    we look forward to providing you with an excellent experience.
  </p>
  <div class="btns">
    <a
      (click)="onClose.emit()"
      class="btn orange-bg"
      [href]="projectUrl"
      target="_blank"
      >See Demo</a
    >
  </div>
</div>
