<div class="step-content">
  <h3 class="paragraph-title" style="text-align: left">
    {{ 'steps.step2.title' | translate }}
  </h3>
  <p class="text">
    {{ 'steps.step2.description' | translate }}
    <span style="font-weight: 700; color: #293241">
      {{ 'steps.step2.backButtonText' | translate }}
    </span>
  </p>
  <img src="../../../../../../assets/screenshots/page-not-found.png" alt="Page not found screenshot"
    style="max-width: 476px; width: 100%; margin: 0 auto" />
  <div class="btns">
    <button (click)="onNext.emit()" class="btn orange-bg">
      {{ 'steps.step2.button' | translate }}
    </button>
  </div>
</div>