.details {
  // height: 90vh;

  .details-block {
    background: url("../../assets/images/abstract-bg.jpeg") no-repeat top center;
    background-size: cover;
    margin-top: 80px;

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      .btn {
        margin: 40px auto 0;
        @media only screen and (max-width: 600px) {
          font-size: 16px !important;
          margin: 40px auto 10px;
        }
      }
    }
    .details-header {
      padding: 60px 0;
      max-width: 1200px;
      margin: 0 auto;
      // height: 90vh;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      @media only screen and (max-width: 900px) {
        padding: 30px 0;
      }

      .project-title {
        margin-bottom: 40px;
        font-size: 34px;
        padding: 10px;
        @media only screen and (max-width: 600px) {
          font-size: 24px;
        }
        @media only screen and (max-width: 350px) {
          padding: 0px;
        }
      }
    }
  }
  .details-body {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: 100px auto;
    max-width: 1200px;
    @media only screen and (max-width: 600px) {
      margin: 40px auto;
    }
    .overview {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
    .tools {
      display: flex;
      flex-direction: column;
      gap: 40px;
      .tools-blocks {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        .skill-box {
          border-radius: 5px;
          background: #e2e2e2;
          padding: 8px 28px;
          transition: all 0.5s ease;

          &:hover {
            background-color: #ee6c4d;
            color: #fff;
          }
        }
      }
    }
    .see-live {
      .see-live-btns {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        @media only screen and (max-width: 600px) {
          gap: 20px;
        }
        .btn {
          border-radius: 5px;
          background: #ee6c4d;
          box-shadow: 0px 4px 33px 0px rgba(0, 0, 0, 0.1);

          padding: 5px 45px !important;
          @media only screen and (max-width: 600px) {
            font-size: 16px !important;
          }
        }
        .white-btn {
          border-radius: 5px;
          border: 2px solid #ee6c4d !important;
          background: #fff;
          box-shadow: 0px 4px 33px 0px rgba(0, 0, 0, 0.1);

          color: #ee6c4d !important;
          font-family: Palanquin;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
        }
      }
    }
  }
}
