<app-header></app-header>

<section class='details'>
  <div class="wrappera">
    <div class="details-block">
      <div class="details-header">

        <div *ngIf="project">
          <h2 class='section-title project-title'>
            {{project.title}}
          </h2>
          <app-carousel [images]='project.screenshots'></app-carousel>
        </div>
      </div>
      <div class="details-body"></div>
    </div>
  </div>
</section>


<!-- <div *ngIf="project">
  <h1>
    {{project.title}}
    {{project.description}}
    {{project.id}}
  </h1>

</div> -->

<button (click)="back()" class='btn orange-bg'>Back</button>