<app-header-v2 [opacity]="0.99" [closeFromTopPx]="40"></app-header-v2>
<!-- <button class="btn-orange-v2 return-btn">Return to projects</button> -->

<section class="details">
  <div class="details-block" [style.background]="'rgba(255, 255, 255, 0.5) url(' + imagePath + ') no-repeat top center'"
    [style.backgroundSize]="'cover'">
    <div class="details-dark-filder"></div>
    <div class="details-header">
      <div *ngIf="project">
        <div class="title-block">
          <h2 class="section-title project-title">
            {{ project.title }}
          </h2>
        </div>
        <app-carousel [images]="screenshots"></app-carousel>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="details-body">
      <div class="overview">
        <h4 class="paragraph-title">Project overview</h4>
        <p *ngFor="let des of project?.description" class="text">{{ des }}</p>
      </div>
      <div class="tools">
        <h4 class="paragraph-title">Tools used</h4>
        <div class="tools-blocks">
          <div *ngFor="let tool of project?.tools" class="skill-box">
            {{ tool }}
          </div>
        </div>
      </div>
      <div *ngIf="project" class="see-live">
        <h4 class="paragraph-title">See live</h4>
        <div class="see-live-btns">
          <a class="btn-orange-v2" (click)="showInstructionModal()"> SEE DEMO </a>
          <a class="btn-white-v2" [href]="project.sourceCodeUrl" target="_blank">Source code</a>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">

    <button (click)="back()" class="btn-orange-v2 return-btn ">
      <img src="../../assets/icons/go-back.png" alt="go back">
      <span>
        Return to projects
      </span>
    </button>
  </div>
</section>
<div *ngIf="showInstruction">
  <app-error-instruction *ngIf="project" [projectUrl]="project.seeLive"
    (onClose)="showInstruction = false"></app-error-instruction>
</div>

<app-footer></app-footer>