.experience-item {
    &:hover .circle {
        background-color: #EE6C4D !important;
        transform: scale(1.3);
    }

    .experience-item-body {
        color: #fff;
        display: flex;
        color: #FFF;
        font-family: "Roboto";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%;
        /* 21.6px */
        letter-spacing: 0.8px;

        .left-side {
            flex: 0 0 15%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            // background-color: red;

        }

        .centerline {
            width: 25px;
            flex: 0 0 10%;

            @media only screen and (max-width: 600px) {
                flex: 0 0 5%;
                margin-right: 20px;
            }

            .circle {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #293241;
                border: 3px solid #fff;
                margin: 0 auto;
                transition: all 0.5s ease;

            }

            // .active-circle {
            //     fill: #EE6C4D;
            // }

            .circle-line {
                width: 3px;
                background-color: #fff;
                height: 100%;
                margin: 0 auto;
            }
        }

        .experience-descreption {
            flex: 0 0 75%;

            @media only screen and (max-width: 600px) {
                flex: 0 0 85%;
            }

            .experience-title {
                color: #FFF;
                font-family: Roboto;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 135%;
                /* 32.4px */
                letter-spacing: 1.2px;
                margin-bottom: 10px;

            }

            .experience-subtitle,
            .experience-subtitle a {
                color: #B0B0B0;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 135%;
                /* 21.6px */
                letter-spacing: 0.8px;
                margin-bottom: 20px;

            }

            .experience-subtitle a {
                text-decoration-line: underline;
                transition: all 0.2s ease;

                &:hover {
                    color: #fff;
                }
            }

            .experience-txt {
                color: #FFF;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: 160%;
                /* 21.6px */
                letter-spacing: 0.8px;
                padding-right: 30px;
                // padding-bottom: 100px;

                @media only screen and (max-width: 600px) {
                    padding-right: 0;
                }
            }
        }
    }
}

.date-txt {
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    /* 21.6px */
    letter-spacing: 0.8px;

}

.duration-txt {
    color: #B0B0B0;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    /* 21.6px */
    letter-spacing: 0.8px;

}

.hide-min600 {
    @media only screen and (min-width: 600px) {
        display: none !important;
    }
}

.hide-max600 {
    @media only screen and (max-width: 600px) {
        display: none !important;
    }
}



.slide-right {
    -webkit-animation: slide-right .5s cubic-bezier(.25, .46, .45, .94) both;
    animation: slide-right .5s cubic-bezier(.25, .46, .45, .94) both
}