.uprise-step-zero {
  opacity: 0;
  transition: transform 1s ease-in-out;
  animation: uprise 0.5s ease-in-out 0.5s forwards;
}

.uprise-step-one {
  opacity: 0;
  transition: transform 1s ease-in-out;
  animation: uprise 1s ease-in-out 0.5s forwards;
}

.uprise-step-two {
  opacity: 0;
  transition: transform 1s ease-in-out;
  animation: uprise 1s ease-in-out 1.2s forwards;
}

.uprise-step-three {
  opacity: 0;
  transition: transform 1s ease-in-out;
  animation: uprise 1s ease-in-out 1.9s forwards;
}

.uprise-step-four {
  opacity: 0;
  transition: transform 1s ease-in-out;
  animation: uprise 1s ease-in-out 2.6s forwards;
}

.uprise-step-five {
  opacity: 0;
  transition: transform 1s ease-in-out;
  animation: uprise 1s ease-in-out 3.3s forwards;
}

.uprise-step-six {
  opacity: 0;
  transition: transform 1s ease-in-out;
  animation: uprise 1s ease-in-out 4s forwards;
}

@keyframes uprise {
  to {
    opacity: 1;
  }
}