<div class="about">
  <div class="wrapper">
    <div class="about-body">
      <div class="about-header">
        <h2 class="section-title">about me</h2>
        <div class="title-underline"></div>
        <p class="text about-text">
          Here you will find more information about me, what I do, and my
          current skills mostly in terms of programming and technology
        </p>
      </div>
      <div class="about-text-block ">
        <div class="about-left-side">
          <h4 class="paragraph-title about-title">Get to know me!</h4>
          <p class="text">
            I have extensive knowledge and a passionate interest in continually exploring innovations in stimulating
            fields. My professional experience spans over three years in front-end development, with a primary focus on
            <span class="bold-txt">Angular,</span>
            including
            <span class="bold-txt">JavaScript</span> and <span class="bold-txt">TypeScript.</span> Additionally, I have
            over five
            years of experience in
            graphic design.
            <br /><br />
            My skills encompass deciphering complex code bases, where I excel in understanding existing processes and
            efficiently solving related tasks. My ability to quickly adapt to new technologies and methodologies, such
            as
            <span class="bold-txt">Node.js, </span>
            <span class="bold-txt">Sass, </span> <span class="bold-txt">SCSS, </span>
            <span class="bold-txt">REST API, </span> and <span class="bold-txt">ES6, </span> allows me to integrate them
            effectively. I am characterized by
            critical thinking, a strong work ethic underscored by flexibility, a willingness to take on new
            responsibilities,
            a commitment to learning opportunities, and the ability to interact with new systems. <br /><br />
          </p>
          <p class="text" *ngIf="readMore">
            These traits are supported by my interpersonal communication skills, enabling me to collaborate seamlessly
            with
            cross-functional teams. I am proficient in version control tools such as <span class="bold-txt">Git</span>
            and
            <span class="bold-txt">GitHub,</span> and I have a solid foundation in web design using <span
              class="bold-txt">HTML,
              CSS, HTML5,</span>
            and <span class="bold-txt">CSS3.</span> My experience with REST API, JavaScript frameworks, and libraries
            such as
            <span class="bold-txt">RxJS</span> and <span class="bold-txt">JSON API</span> complements my qualifications
            in
            front-end development.
            Additionally, my design skills extend to
            <span class="bold-txt">Adobe Photoshop, Adobe Illustrator,</span> and <span class="bold-txt">Figma,</span>
            enhancing
            my ability to create
            visually appealing and user-friendly interfaces.<br /><br />In conclusion, my versatile skill set, including
            but not
            limited to <span class="bold-txt">JavaScript, TypeScript, Angular, Git,</span> and <span
              class="bold-txt">Adobe
              Creative Suite,</span>
            positions me as a versatile and adaptive professional with a strong commitment to delivering high-quality
            work in
            <span class="bold-txt">front-end development</span> and <span class="bold-txt">graphic
              design.</span><br /><br />
          </p>


          <button class="btn-orange-v2" (click)="readMore=!readMore" style="margin-top: 0px;">
            {{readMore? "Read Less" : "Read More"}}</button>

        </div>
        <div class="about-right-side">
          <h4 class="paragraph-title about-title">My Skills</h4>
          <div class="skills">
            <a [href]="skill.website" target="_blank" [ngClass]="{ 'orange-bg': randomSkillNumber === i }"
              class="skill-box text" *ngFor="let skill of skills; let i = index">
              <img class="skill-img" loading="lazy" [src]="'../../../assets/icons/skills/' + skill.img" />
              <span>{{ skill.name }}</span>
            </a>
          </div>
        </div>
      </div>
      <!-- <div class="worked-with">
        <h4 class="paragraph-title worked-title about-title">
          I’ve worked with
        </h4>
        <div class="companies">
          <a target="_blank" href="https://www.epam.com/">
            <img
              loading="lazy"
              class="company-logo"
              src="../../../assets/logos/epam.png"
              alt="Epam"
            />
          </a>
          <a target="_blank" href="https://cyberiasoft.com/">
            <img
              loading="lazy"
              class="company-logo"
              src="../../../assets/logos/CyberiaSoft.png"
              alt="CyberiaSoft"
            />
          </a>
          <a target="_blank" href="https://bet888win.net/">
            <img
              loading="lazy"
              class="company-logo"
              src="../../../assets/logos/bet 888.png"
              alt="BET 888"
            />
          </a>
          <a target="_blank" href="https://www.apacer.com/">
            <img
              loading="lazy"
              class="company-logo"
              src="../../../assets/logos/apacer.png"
              alt="Apacer"
            />
          </a>
          <a target="_blank" href="https://www.geoalphasolutions.com/">
            <img
              loading="lazy"
              class="company-logo"
              src="../../../assets/logos/geoAlpha.png"
              alt="geoAlphaSolution"
            />
          </a>
        </div>
      </div> -->
    </div>
  </div>
</div>