<div class="about">
  <div class="wrapper">
    <div class="about-body">
      <div class="about-header">
        <h2 class="section-title animated-block">
          {{ "about.section_title" | translate }}
        </h2>
        <div class="title-underline animated-block"></div>
        <p class="text about-text animated-block">
          {{ "about.intro_text" | translate }}
        </p>
        <p class="text about-text animated-block">
          {{ "about.intro_text_2" | translate }}
        </p>
      </div>
      <div class="about-text-block">
        <div class="about-left-side" style="display: none">
          <h4 class="paragraph-title about-title">
            {{ "about.get_to_know_me" | translate }}
          </h4>
          <p class="text paragraph">
            {{ "about.introduction" | translate }}
          </p>
          <p
            class="text paragraph"
            [innerHTML]="'about.experience_rik' | translate"
          ></p>
          <p
            class="text paragraph"
            [innerHTML]="'about.experience_epam' | translate"
          ></p>
          <p
            class="text paragraph"
            [innerHTML]="'about.experience_geo_alpha' | translate"
          ></p>
          <p
            class="text paragraph"
            [innerHTML]="'about.experience_cyberia_soft' | translate"
          ></p>
          <p
            class="text paragraph"
            [innerHTML]="'about.current_work' | translate"
          ></p>
          <p class="text paragraph">
            {{ "about.languages" | translate }}
          </p>
          <!-- <button class="btn-orange-v2" (click)="readMore=!readMore" style="margin-top: 0px;">
            {{readMore? "Read Less" : "Read More"}}
          </button> -->
        </div>
        <div class="about-right-side">
          <h4 class="paragraph-title about-title animated-block">
            {{ "about.my_skills" | translate }}
          </h4>
          <div class="skills">
            <a
              [href]="skill.website"
              target="_blank"
              [ngClass]="{ 'orange-bg': randomSkillNumber === i }"
              class="skill-box text animated-block"
              *ngFor="let skill of skills; let i = index"
            >
              <img
                class="skill-img"
                loading="lazy"
                [src]="'../../../assets/icons/skills/' + skill.img"
              />
              <span class="skill-txt">{{ skill.name }}</span>
            </a>
          </div>
        </div>
      </div>
      <!-- <div class="worked-with">
        <h4 class="paragraph-title worked-title about-title">
          I’ve worked with
        </h4>
        <div class="companies">
          <a target="_blank" href="https://www.epam.com/">
            <img loading="lazy" class="company-logo" src="../../../assets/logos/epam.png" alt="Epam" />
          </a>
          <a target="_blank" href="https://cyberiasoft.com/">
            <img loading="lazy" class="company-logo" src="../../../assets/logos/CyberiaSoft.png" alt="CyberiaSoft" />
          </a>
          <a target="_blank" href="https://bet888win.net/">
            <img loading="lazy" class="company-logo" src="../../../assets/logos/bet 888.png" alt="BET 888" />
          </a>
          <a target="_blank" href="https://www.apacer.com/">
            <img loading="lazy" class="company-logo" src="../../../assets/logos/apacer.png" alt="Apacer" />
          </a>
          <a target="_blank" href="https://www.geoalphasolutions.com/">
            <img loading="lazy" class="company-logo" src="../../../assets/logos/geoAlpha.png" alt="geoAlphaSolution" />
          </a>
        </div>
      </div> -->
    </div>
  </div>
</div>
