<section class="about">
  <div class="wrapper">
    <div class="about-body">
      <div class="about-header">
        <h2 class="section-title">about me</h2>
        <div class="title-underline"></div>
        <p class="text about-text">
          Here you will find more information about me, what I do, and my
          current skills mostly in terms of programming and technology
        </p>
      </div>
      <div class="about-text-block">
        <div class="about-left-side">
          <h4 class="paragraph-title">Get to know me!</h4>
          <p class="text">
            I'm a Frontend Web Developer building the Front-end of Websites and
            Web Applications that leads to the success of the overall product.
            Check out some of my work in the Projects section. <br /><br />
            I also like sharing content related to the stuff that I have learned
            over the years in Web Development so it can help other people of the
            Dev Community. Feel free to Connect or Follow me on my Linkedin
            where I post useful content related to Web Development and
            Programming. <br /><br />
            I'm open to Job opportunities where I can contribute, learn and
            grow. If you have a good opportunity that matches my skills and
            experience then don't hesitate to contact me.
          </p>
        </div>
        <div class="about-right-side">
          <h4 class="paragraph-title">My Skills</h4>
          <div class="skills ">
            <div [ngClass]="{'orange-bg': randomSkillNumber === i}" class="skill-box text "
              *ngFor="let skill of skills; let i = index">
              <span>{{ skill }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="worked-with">
        <h4 class="paragraph-title worked-title">I’ve worked with</h4>
        <div class="companies">
          <a target='_blank' href="https://www.epam.com/">
            <img class='company-logo' src="../../../assets/logos/epam.png" alt="Epam">
          </a>
          <a target='_blank' href="https://cyberiasoft.com/">
            <img class='company-logo' src="../../../assets/logos/CyberiaSoft.png" alt="CyberiaSoft">
          </a>
          <a target='_blank' href="https://bet888win.net/">

            <img class='company-logo' src="../../../assets/logos/bet 888.png" alt="BET 888">
          </a>
          <a target='_blank' href="https://www.apacer.com/"> <img class='company-logo'
              src="../../../assets/logos/apacer.png" alt="Apacer"></a>
          <a target='_blank' href="https://www.geoalphasolutions.com/"> <img class='company-logo'
              src="../../../assets/logos/geoAlpha.png" alt="geoAlphaSolution"></a>
        </div>
      </div>
    </div>
  </div>
</section>