<app-header [scrollTop]="scrollTop"></app-header>

<div id="home" class="home">
  <div class="wrapper">
    <div class="home-body">
      <h1 class="big-title home-title">hey, i’m azat farmanyan</h1>
      <p class="text home-text">
        A Frontend focused Web Developer building the Frontend of Websites and
        Web Applications that leads to the success of the overall product
      </p>
      <button class="btn orange-bg">projects</button>

      <div class="icon-scroll"></div>

      <ul class="links">
        <li class="link-item">
          <img src="../../assets/icons/bi_linkedin.svg" alt="linkedin" />
        </li>
        <li class="link-item">
          <img src="../../assets/icons/mdi_github.svg" alt="GitHub" />
        </li>
        <li class="link-item">
          <img src="../../assets/icons/ri_instagram-fill.svg" alt="Instagram" />
        </li>
        <li class="link-item">
          <img
            src="../../assets/icons/ic_baseline-telegram.svg"
            alt="Telegram"
          />
        </li>
        <li class="link-item">
          <img src="../../assets/icons/ic_baseline-discord.svg" alt="Discord" />
        </li>
        <li class="link-item">
          <img src="../../assets/icons/uiw_facebook.svg" alt="Facebook" />
        </li>
      </ul>
    </div>
  </div>
</div>
<app-about id="about"></app-about>
<app-projects></app-projects>
