<!-- <app-header [activeSection]="currentSection" [scrollTop]="scrollTop"></app-header> -->
<app-header-v2
  [activeSection]="currentSection"
  [opacity]="0.95"
></app-header-v2>

<section id="home">
  <app-welcome></app-welcome>
</section>

<section id="about">
  <!-- <app-about [activeSection]="currentSection"></app-about> -->
</section>

<section id="experience">
  <!-- <app-experience></app-experience> -->
</section>

<section id="projects">
  <app-projects [openedCardId]="clickedCard"></app-projects>
</section>

<section id="contact">
  <app-contact></app-contact>
  <app-footer></app-footer>
</section>

<app-section-nav [activeSectionId]="currentSectionId"></app-section-nav>
