<footer class='footer'>
  <div class="wrapper">
    <div class="footer-body">
      <div class="footer-info">
        <h3 class='footer-title'>Azat farmanyan</h3>
        <p class='footer-text'>A Frontend focused Web Developer building the Frontend of Websites and Web Applications
          that leads to the success of the overall product</p>
      </div>
      <div class="footer-social">
        <h3 class='social-title'>Social</h3>
        <ul class="social-links">

          <li class='social-link'>
            <a target='_blank' href="https://www.linkedin.com/in/azat-farmanyan/">
              <img src="../../assets/icons/social-links-white/bi_linkedin.svg" alt="linkedin" />
            </a>
          </li>

          <li class='social-link'>
            <a target='_blank' href="https://github.com/Azat-Farmanyan">
              <img src="../../assets/icons/social-links-white/mdi_github.svg" alt="GitHub" />
            </a>


          </li>
          <li class='social-link'>
            <a target='_blank' href="https://www.instagram.com/azat_09.5/">
              <img src="../../assets/icons/social-links-white/ri_instagram-fill.svg" alt="Instagram" />
            </a>

          </li>
          <li class='social-link'>
            <a target='_blank' href="https://t.me/AzatFarmanyan">
              <img src="../../assets/icons/social-links-white/ic_baseline-telegram.svg" alt="Telegram" />
            </a>
          </li>

          <li class='social-link'>
            <a target='_blank' href="https://discordapp.com/users/908978735020146719/">
              <img src="../../assets/icons/social-links-white/ic_baseline-discord.svg" alt="Discord" />
            </a>
          </li>

          <li class='social-link'>
            <a target='_blank' href="https://www.facebook.com/profile.php?id=100007929288834">
              <img src="../../assets/icons/social-links-white/uiw_facebook.svg" alt="Facebook" />
            </a>
          </li>

        </ul>
      </div>
    </div>
    <div class="footer-copiright">
      <div class='line'></div>
      <p class='copyright-text'>© Copyright 2023. Made by <a href='/home#home'>Azat Farmanyan</a></p>
    </div>
  </div>
</footer>