<footer class="footer">
  <div class="wrapper">
    <div class="footer-body">
      <div class="footer-info">
        <h3 class="footer-title">{{ "footer.name" | translate }}</h3>
        <p class="footer-text footer-description">
          {{ "footer.description" | translate }}
        </p>
      </div>

      <nav class="nav">
        <h3 class="nav-title">{{ "footer.navigation" | translate }}</h3>

        <a class="nav-item" (click)="navigateTo('home', 'home')">
          {{ "header.home" | translate }}
        </a>
        <a class="nav-item" (click)="navigateTo('home', 'about')">
          {{ "header.about" | translate }}
        </a>
        <a class="nav-item" (click)="navigateTo('home', 'experience')">
          {{ "header.experience" | translate }}
        </a>
        <a class="nav-item" (click)="navigateTo('home', 'projects')">
          {{ "header.projects" | translate }}
        </a>
        <a class="nav-item" (click)="navigateTo('home', 'contact')">
          {{ "header.contact" | translate }}
        </a>
      </nav>

      <div class="footer-social">
        <h3 class="social-title">{{ "footer.social_title" | translate }}</h3>
        <ul class="social-links">
          <li class="social-link">
            <a
              target="_blank"
              href="https://www.linkedin.com/in/azat-farmanyan/"
            >
              <img
                src="../../assets/icons/social-links-white/bi_linkedin.svg"
                alt="linkedin"
              />
            </a>
          </li>
          <li class="social-link">
            <a target="_blank" href="https://github.com/Azat-Farmanyan">
              <img
                src="../../assets/icons/social-links-white/mdi_github.svg"
                alt="GitHub"
              />
            </a>
          </li>
          <li class="social-link">
            <a target="_blank" href="https://www.instagram.com/azat_09.5/">
              <img
                src="../../assets/icons/social-links-white/ri_instagram-fill.svg"
                alt="Instagram"
              />
            </a>
          </li>
          <li class="social-link">
            <a target="_blank" href="https://t.me/AzatFarmanyan">
              <img
                src="../../assets/icons/social-links-white/ic_baseline-telegram.svg"
                alt="Telegram"
              />
            </a>
          </li>
          <li class="social-link">
            <a
              target="_blank"
              href="https://discordapp.com/users/908978735020146719/"
            >
              <img
                src="../../assets/icons/social-links-white/ic_baseline-discord.svg"
                alt="Discord"
              />
            </a>
          </li>
          <li class="social-link">
            <a
              target="_blank"
              href="https://www.facebook.com/profile.php?id=100007929288834"
            >
              <img
                src="../../assets/icons/social-links-white/uiw_facebook.svg"
                alt="Facebook"
              />
            </a>
          </li>
        </ul>

        <div class="tel">
          <span>Tel: </span>
          <a href="tel:+995592477775">+995 592 47 77 75</a>
        </div>

        <button class="btn-orange-v2 footer-btn" (click)="downloadCV()">
          <a>{{ "header.download_cv" | translate }}</a>
        </button>
      </div>
    </div>

    <div class="footer-copiright">
      <div class="line"></div>
      <p
        class="copyright-text"
        [innerHTML]="'footer.copyright' | translate"
      ></p>
    </div>
  </div>
</footer>
