<div class="step-nav">
  <div class="step-nav-body">
    <div class="step-num" [ngClass]="{ orange: activeStep >= 1 }">
      <span>1</span>
    </div>
    <div class="step-num" [ngClass]="{ orange: activeStep >= 2 }">
      <span>2</span>
    </div>
    <div class="step-num" [ngClass]="{ orange: activeStep >= 3 }">
      <span>3</span>
    </div>

    <div class="line left-line" [ngClass]="{ orange: activeStep >= 2 }"></div>
    <div class="line right-line" [ngClass]="{ orange: activeStep >= 3 }"></div>
  </div>
</div>
